<h1>Flats#index</h1>
<p>Find me in app/views/flats/index.html.erb</p>
<ul>
  <% @flats.each do |flat| %>
    <li><%= flat["name"] %> <%= link_to "details", flat_path(flat["id"]) %></li>
  <% end %>
</ul>
